<section class="section" [formGroup]="form()">
  <h2>Personal Details</h2>

  <div class="grid">
    <app-custom-input
      label="My current age"
      type="number"
      formControlName="meCurrentAge"
      [min]="18"
      [max]="100"
    ></app-custom-input>

    <app-custom-input
      label="My retirement age"
      type="number"
      formControlName="meRetirementAge"
      [min]="40"
      [max]="100"
    ></app-custom-input>
  </div>

  <mat-slide-toggle formControlName="includePartner">Include partner?</mat-slide-toggle>

  @if (form().value.includePartner) {
    <div class="grid partner-grid">
      <app-custom-input
        label="Partner current age"
        type="number"
        formControlName="partnerCurrentAge"
        [min]="18"
        [max]="100"
      ></app-custom-input>

      <app-custom-input
        label="Partner retirement age"
        type="number"
        formControlName="partnerRetirementAge"
        [min]="40"
        [max]="100"
      ></app-custom-input>
    </div>
  }

  <h3>State Pension</h3>
  <div class="grid">
    <app-custom-input
      label="My state pension age"
      type="number"
      formControlName="statePersonAge"
      [min]="55"
      [max]="100"
    ></app-custom-input>

    <app-custom-input
      label="My annual state pension (today)"
      type="number"
      formControlName="statePersonAmount"
      prefix="£"
      [min]="0"
    ></app-custom-input>
  </div>

  @if (form().value.includePartner) {
    <div class="grid">
      <app-custom-input
        label="Partner state pension age"
        type="number"
        formControlName="statePartnerAge"
        [min]="55"
        [max]="100"
      ></app-custom-input>

      <app-custom-input
        label="Partner annual state pension (today)"
        type="number"
        formControlName="statePartnerAmount"
        prefix="£"
        [min]="0"
      ></app-custom-input>
    </div>
  }
</section>
